template {
  display: none !important;
}

/* ie hack
 don't remove that style*/
.m-page {
  display: block;
  background: url("../images/background.png") no-repeat; 
}

/* use to align content */
.container {
  min-width: 360px;
  margin: 0 auto;
}

.container::before,
.container::after,
.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
}
.container::after,
.clearfix::after{
  clear: both;
}

/*=================================================================================================================
    YOUR STYLE here
  ================================================================================================================= */
.wrapper {
  overflow: hidden;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanovacond-light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/proximanovacond-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/proximanovacond-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/proximanovacond-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/proximanovacond-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*=================================================================================================================
    common styles
  ================================================================================================================= */


.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.m-page {
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 12px; }

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #05e7e6; }

h3,
a,
blockquote {
  font-size: 1.125rem;
  color: #05e7e6; }

p {
  color: #fff;
  font-weight: 700; }

h3 a {
  text-transform: uppercase;
  color: #05e7e6;
  text-decoration: none; }
  h3 a:hover {
    color: #e53663; }

a {
  font-weight: 700; }