.header {
  position: relative;
  padding: 20px 0;
  background: url("../img/background.jpg") no-repeat center center; }


.hamburger {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 9;
  border: none;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  font-size: 2em;
  color: #05e7e6;
  cursor: pointer;
  transform: translate(0, -50%); }

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  background: url("../img/background.jpg") no-repeat center center;
  text-align: center; }

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menu li {
  display: block;
  border-bottom: 1px solid #05e7e6; }
  .menu li:first-child {
    border-top: 1px solid #05e7e6; }
  .menu li:hover {
    background: #05e7e6; }

.menu ul li a {
  display: block;
  padding: 10px;
  color: #05e7e6;
  text-decoration: none; }
  .menu ul li a:hover {
    color: #000; }