
.main h1 {
  max-width: 620px;
  margin: 60px auto 40px;
  font-size: 5rem;
  font-weight: 900;
  color: black;
  text-shadow: 2px 0 0 #fff831, -2px 0 0 #fff831, 0px -2px 0 #fff831, 0 2px 0 #fff831, -2px -2px 0 #fff831, 2px -2px 0 #fff831, 2px 2px 0 #fff831, -2px 2px 0 #fff831;
  letter-spacing: 7px;
  text-transform: uppercase; }

.main p {
  font-size: 1.5rem;
  font-weight: 400; }

.line p {
  font-size: 1.313rem; }

.btn {
  color: #fff;
  font-weight: 700; }

.value {
  font-size: 2.25rem;
  color: #e53663; }
  
  
  @media screen and (min-width: 768px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 992px) {
  html {
    font-size: 16px; }
  .home h2 {
    font-size: 6.25rem; } }



.circle {
  display: block;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border: none;
  border-radius: 50%;
  background: url("../img/arr-down.png") no-repeat center center;
  background-size: 60px;
  outline: none; }
  .circle:hover {
    background: #038383 url("../img/arr-down.png") no-repeat center center;
    background-size: 60px; }



.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 30px;
  border: 2px solid #e53663;
  border-radius: 20px;
  background: #e53663;
  outline: none;
  text-decoration: none; }
  .btn:hover {
    background: transparent;
    color: #e53663; }

.btn-another {
  border: 2px solid #05e7e6;
  background: transparent;
  color: #05e7e6; }
  .btn-another:hover {
    background: #05e7e6;
    color: #000; }



.description {
  padding: 70px 0;
  text-align: center; }

.description p {
  margin: 20px 0 40px; }

.frame {
  max-width: 1280px;
  margin: 0 15px;
  border: 2px solid #05e7e6; }

.text {
  position: relative;
  top: -60px;
  max-width: 1060px;
  margin: 0 auto;
  background: url("../img/background.jpg") no-repeat center center; }

.button {
  position: relative;
  bottom: -30px;
  max-width: 320px;
  margin: 0 auto;
  background: url("../img/background.jpg") no-repeat center center; }

.articles {
  padding: 40px 0;
  text-align: center; }

video {
  width: 100%; }

.article-list {
  margin: 50px 0;
  text-align: left; }

article {
  margin-bottom: 30px;
  text-align: center; }
  article:hover h3 {
    color: #e53663; }

.counter a {
  display: inline-block;
  margin-right: 2px;
  padding: 5px 10px;
  background: #2e2e2e;
  color: #fff;
  text-decoration: none; }
  .counter a:hover {
    color: #e53663; }

.counter .active {
  color: #e53663; }

.counter .arrow {
  background: transparent url("../img/arrow.png") no-repeat center center;
  background-size: 10px 15px;
  color: transparent; }
  .counter .arrow:hover {
    color: transparent; }

.loader {
  padding: 50px 0;
  text-align: center; }

.item {
  width: 250px;
  height: 250px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.jedi {
  background: url("../img/jedi.png") no-repeat center center;
  background-size: 250px 250px; }

.droids {
  background: url("../img/droids.png") no-repeat center center;
  background-size: 250px 250px; }

.battles {
  background: url("../img/battles.png") no-repeat center center;
  background-size: 250px 250px; }

.content p {
  display: block;
  text-align: center; }


.impression {
  padding: 50px 0;
  text-align: center; }

.feedback {
  margin: 50px 0; }

.feedback {
  max-width: 350px;
  margin: 0 auto 30px;
  text-align: left; }
  .feedback::after {
    content: '';
    display: block;
    clear: both; }

                                        .photo {
                                          float: left;
                                          width: 70px;
                                          margin-right: 20px; }
                                          .photo img {
                                            width: 100%; }
                                        
                                        blockquote {
                                          margin: 0 0 15px 0;
                                          color: #fff;
                                          font-style: italic; }
                                        
                                        .name {
                                          color: #05e7e6; }
                                        
                                        .name,
                                        .education {
                                          text-transform: uppercase; }
                                        
                                        .education {
                                          font-weight: 400; }
                                          
                                          
