/*==================
    main page
====================*/
.main {
    
    h1 {
  		color: #fff;
        font-size: 36px;
		font-weight: 300;
	}

    .man {
        float: right;
        padding-top: 75px;
        margin-right: 100px;
    }
    
    .description {
        p {
            color: #7c8ca0;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
        }
        background: rgba(35, 188, 255, 0.71);
        width: 50%;
        padding: 10px;
        margin-top: 190px;
        margin-left: 160px;
    }
}

/*==================
    news
====================*/
.news {
  background: url("../images/layer-65-copy.png");
    p {
        font-size: 18px;
        font-weight: 300;
    }
    a {
        padding: 10px 16px 10px 0;
        font-style: italic;
        background: url('../images/blue-arrow.png') no-repeat center right;
    }

}
/*==================
   recommend
===================*/

.recommend {
    .menu {
        padding: 0 0 50px;

        li {
            display: inline-block;
            padding-right: 50px;
        }
        a {
            text-decoration: none;
            color: #646464;
            font-size: 18px;
            font-weight: 700;
        }
        a:hover {
            color: #b78e03;
        }
    }
    a.button {
        background-color: #dfad00;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 40px 10px;
        margin-bottom: 70px;
        float: right;
        box-shadow: 0 2px 0 #ab8500;
    }
    a.button:hover {
        background-color: #ab8500;
        color: #fff;
    }
}

/*==================
    tv
====================*/
.tv {

  background: url("../images/sub-bg.jpg") top no-repeat;
    h2 {
        color: #fff;
        margin-top: 50px;
    }
    .main-video {
        width: 40%;
        border: 3px #fff;
    }
    .small-video {
        margin: 3px;
        float: left;
        video {
            width: 260px;
            border: 3px #fff;
        }
    }
    .video-news {
        h3 {
            color: #fff;
        }
        a {
            padding: 10px 16px;
            color: #fff;
            background: url('../images/yellow-arrow.png') no-repeat center left;
        }
        padding-bottom: 50px;
    }
}

/*==================
    goal
====================*/
.goal {
    .big-man {
        float: right;
        margin-left: 50px;
    }
    .description {
        padding: 50px 0;
        background: url("../images/quotes.png") top no-repeat;

        h2 {
            margin-bottom: 50px;
            width: 50%;
        }
        /*h2::after {
            content: '"';
            font-size: 120px;
            color: #8c8c8c;
        }*/
    }
    .details {
        padding: 10px 16px 10px 0;
        background: url('../images/blue-arrow.png') no-repeat center right;
    }
    .social {
        margin-top: 30px;
    }
}

/*==================
    slider
====================
.flexslider {
    border: none;
.flex-caption {
  width: 40%;
  padding: 2%;
  color: #7c8ca0;
  font-size: 24px;
  font-style: italic;
  display: block;
  margin: 0 auto;
}

.flex-caption2 {
  width: 40%;
  padding: 2%;
  color: #7c8ca0;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  
  a {
      text-decoration: underline;
      color: #7c8ca0;
  }
}


margin-top: 100px;
margin-bottom: 100px;

.slides {
    background: rgba(44, 153, 255, 0.2);
    text-align: center;
}
}*/
/*==================
    partners
====================*/
.partners {
    background-color: #edeff1;
    
    .partners-description {
        .text-bold {
            font-weight: 700;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 30px;
        }
    }
    .city {
        color: #323232;
        padding: 10px 16px;
        background: url('../images/map.png') no-repeat left;
    }
    .small-icon {
        width: 20px;
    }
    .social {
        margin: 15px 0;
    }
}
/*==================
    join
====================*/
.join {
    background: url("../images/sub-bg2.jpg") top no-repeat;
    padding-bottom: 50px;
    h2 {
        color: #fff;
    }
    a {
        padding: 10px 16px 10px 0;
        color: #fff;
        background: url('../images/arrow.png') no-repeat right;
        font-style: italic;
    }

}
