@media screen and (min-width: 768px) {
  body {
    font-size: 14px; } }

@media screen and (min-width: 992px) {
  body {
    font-size: 16px; }
  .main h1 {
    font-size: 6.25rem; } }

@media screen and (min-width: 1140px) {
  .main h1 {
    letter-spacing: 15px;
    margin-bottom: 50px; }
  .main p,
  h2 {
    letter-spacing: 4px; }
  span,
  h3,
  .articles p {
    letter-spacing: 3px; }
  h3 {
    margin-top: 50px; }
  .articles p {
    line-height: 2rem; }
  h2 {
    margin-bottom: 30px; }
  .btn {
    font-size: 1.2rem; } }


@media screen and (min-width: 768px) {
  .description {
    padding: 130px 0; } }

@media screen and (min-width: 992px) {
  .frame {
    border: 3px solid #05e7e6; } }

@media screen and (min-width: 1140px) {
  .description {
    padding: 260px 0 130px; }
  .description p {
    margin: 70px 0 40px;
    line-height: 2.2rem;
    letter-spacing: 3px; } }

@media screen and (min-width: 1350px) {
  .frame {
    max-width: 1280px;
    margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .slider::after {
    content: '';
    display: block;
    clear: both; }
  article {
    padding: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%; }
    article:nth-child(2n + 1) {
      clear: both; } }

@media screen and (min-width: 1140px) {
  .slider {
    margin: 70px 0 10px; }
  article {
    padding: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
    text-align: left; }
    article:nth-child(2n + 1) {
      clear: none; }
  .counter a {
    padding: 10px 15px; }
  .counter .arrow {
    background-size: 16px 26px; } }


@media screen and (min-width: 768px) {
  .circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

@media screen and (min-width: 1140px) {
  .loader {
    padding: 140px 0 40px; }
  .item {
    width: 375px;
    height: 375px; }
  .jedi {
    background-size: 375px; }
  .droids {
    background-size: 375px; }
  .battles {
    background-size: 375px; }
  .circles {
    margin: 30px 0 0;
    justify-content: space-between; } }

.impression {
  padding: 50px 0;
  text-align: center; }

.feedback-list {
  margin: 50px 0; }

.feedback {
  max-width: 350px;
  margin: 0 auto 30px;
  text-align: left; }
  .feedback::after {
    content: '';
    display: block;
    clear: both; }

.photo {
  float: left;
  width: 70px;
  margin-right: 20px; }
  .photo img {
    width: 100%; }

blockquote {
  margin: 0 0 15px 0;
  color: #fff;
  font-style: italic; }

.name {
  color: #05e7e6; }

.name,
.education {
  text-transform: uppercase; }

.education {
  font-weight: 400; }

@media screen and (min-width: 768px) {
  .feedback-list {
    max-width: 700px;
    margin: 40px auto; }
    .feedback-list::after {
      content: '';
      display: block;
      clear: both; }
  .feedback {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    width: 50%; }
    .feedback:nth-child(2n + 1) {
      clear: both; } }

@media screen and (min-width: 1140px) {
  .feedback-list {
    margin: 80px auto 0;
    max-width: 1140px; }
  .photo {
    width: 130px;
    margin-right: 20px; }
  .feedback {
    max-width: none;
    margin: 0 auto 70px; }
  blockquote {
    margin-top: 15px;
    color: #fff;
    line-height: 2rem;
    font-style: italic; } }

@media screen and (min-width: 768px) {
  .buttons {
    max-width: 500px;
    margin: 0 auto; }
    .buttons::after {
      content: '';
      display: block;
      clear: both; }
  .btn-area {
    float: left;
    width: 50%; } }

@media screen and (min-width: 1140px) {
  .f-page {
    padding: 60px 0 115px; }
  .buttons {
    max-width: 620px;
    margin: 45px auto; } }